//- Copyright (C) 2021 Trevor Thalacker

//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published
//- by the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.

//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.

//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.

extends includes/layout.pug

block content
    section(class="flex-grow flex flex-col items-center justify-center h-full")
        section(class="h-auto lg:h-screen flex flex-col")
            div(class="w-screen flex flex-grow flex-col items-center justify-center text-center")
                div(class="flex flex-col items-center")
                    img(class="h-24 w-24 m-3" src=logo alt=title + " Icon")
                    h1(class="text-2xl")=title

                p(class="text-gray-600") A free, private URL shortener with the greatest domain in existence.
                button(class="border-2 border-blue-500 rounded-lg px-2 py-1 m-2 hover:border-blue-300 hover:text-gray-500 transition-colors text-xl" onclick="document.getElementById('slider').classList.toggle('open');") Create A URL!
                //- This thing pops out by clicking the button above
                section(class="generator-slider flex flex-row w-full h-auto items-center justify-center" id="slider")
                    form(action="/app/generateLink" method="GET" class="flex flex-col items-center justify-center")
                        section(class="flex flex-col lg:flex-row w-full")
                            div(class="mx-4 flex flex-col lg:w-96")
                                label(for="longURL") URL to Shorten
                                input(required type="text" name="longURL" id="longURL" class="form-input mt-1 mb-4 w-full border-2 border-gray-500 rounded transition-all" placeholder="https://example.com" maxlength="255")
                        
                                label(for="shortCode") URL Short Code (Optional)
                                input(type="text" name="shortCode" id="shortCode" class="form-input mt-1 mb-4 w-full border-2 border-gray-500 rounded transition-all" placeholder="notARickRoll" maxlength="255")
                        
                                // TODO embeds should be optional
                                span(class="flex my-4 items-center")
                                    input(type="checkbox" name="embeds" class="form-checkbox border-2 border-blue-500 rounded" onclick="document.getElementById('embed-slider').classList.toggle('open');" id="embeds")
                                    label(class="pl-3 items-center" for="embeds") Use Embed
                            //- Embed Shit
                            section(class="flex flex-col lg:flex-row w-full embed-slider" id="embed-slider")
                                div(class="mx-4 flex flex-col lg:w-96")
                                    label(for="embedTitle") Embed Title
                                    input(type="text" name="embedTitle" id="embedTitle" class="form-input mt-1 mb-4 w-full border-2 border-gray-500 rounded transition-all" placeholder="https://example.com" maxlength="255")
                            
                                    label(for="embedDescription") Embed Description
                                    input(type="text" name="embedDescription" id="embedDescription" class="form-input mt-1 mb-4 w-full border-2 border-gray-500 rounded transition-all" placeholder="notARickRoll" maxlength="255")

                                    label(for="embedImage") Embed Image
                                    input(type="text" name="embedImage" id="embedImage" class="form-input mt-1 mb-4 w-full border-2 border-gray-500 rounded transition-all" placeholder=baseUrl + "/images/bingus.png" maxlength="255")
                
                                div(class="mx-4 flex flex-col lg:w-96 items-center justify-center")
                                    //- Custom element that shows an example of what the embed would look like
                                    embedpreview

                        button(class="border-2 border-blue-500 bg-blue-500 text-gray-50 rounded-lg px-2 py-1 m-2 hover:border-blue-300 hover:bg-blue-300 hover:text-white-500 transition-colors text-xl" type="submit") Generate Short URL

        //- For later, maybe have some stuff here to show why bingus.link is cool
        //- section(class="h-screen bg-gray-100 flex flex-col items-center justify-center w-full")
        //-     p.
        //-         this is a placeholder text

        //- section(class="h-screen flex flex-col items-center justify-center w-full")
        //-     p.
        //-         this is a placeholder text

        //- Javascript to handle embeds
        script(src=baseUrl + "/js/embed.js") 
        script.
            if (document.getElementById('embeds').checked === true) {
                document.getElementById('embed-slider').classList.toggle('open');
            }

            let title = document.getElementById('embedTitle')
            let description = document.getElementById('embedDescription')
            let image = document.getElementById('embedImage')
            let url = document.getElementsByTagName('title')[0]

            title.addEventListener('change', () => onChange())
            description.addEventListener('change', () => onChange())
            image.addEventListener('change', () => onChange())

            window.embedPreview(image.placeholder, title.placeholder, description.placeholder, url.innerHTML)

            function onChange() {
                document.getElementById('embedpreview-title').innerHTML = title.value;
                document.getElementById('embedpreview-description').innerHTML = description.value;
                document.getElementById('embedpreview-image').style.backgroundImage = `url(${image.value})`;
            }