// Copyright (C) 2021 Trevor Thalacker

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.

html(lang="en")
include includes/header.pug
body
    div(id="bl")
        img(src="/images/bingus.png",id="blgo")
        h2(id="bl-t") Where does "
            span=code
            span " go?
        p The 
            span=title 
            span  code "
            span=code
            span " is going to whisk you off to
        a(href=url)=url
        p(style="margin-top:28px") If that sounds cool to you, just click the link above.
        p If you would like to report abuse of 
            span=title 
            span , please email us at 
            code abuse@trevorthalacker.com
    include includes/footer.pug